app/config/propel/conf
app/config/propel/sql
app/config/propel/runtime-conf.xml
app/config/propel/build.properties
app/cache
src/Propilex/Model/om/
src/Propilex/Model/map/
vendor
web/components/
bin/phpunit
bin/propel*
node_modules/
