{% extends 'layout.html.twig' %}

{% block content %}
<article>
    <section>
        <h2>Les invités</h2>
        <div id="appUser"></div>
    </section>
</article>

<aside>
    <div id="notice"></div>
</aside>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        App.users = new App.Collections.Users;
        App.users.reset({{ users | raw }});
    });
</script>
{% endblock %}