<div class="row">
    <div class="span12">
        <h2><%- $.t('title.list') %></h2>

        <ul class="documents unstyled">
            <% _.each(collection, function (item) { %>
                <li>
                    <a href="" class="document-item" data-id="<%- item.id %>"><%- item.title %></a>
                    <small><%- item.humanized_date %></small>
                </li>
            <% }); %>
        </ul>
        <div class="pager">
            <ul>
                <li><a href="" class="prev">prev</a></li>
                <li><a href="" class="next">next</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <a href="" id="document-new" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> <%- $.t('new') %></a>
    </div>
</div>
