<?xml version="1.0" encoding="UTF-8"?>
<config>
    <propel>
        <datasources default="propilex">
            <datasource id="propilex">
                <adapter>sqlite</adapter>
                <connection>
                    <dsn>sqlite:%CACHE_DIR%/database.db</dsn>
                    <user></user>
                    <password></password>
                </connection>
            </datasource>
        </datasources>
    </propel>
</config>
